* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.datepicker {
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.datepicker-input {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
}

.datepicker-input input {
    font-size: 16px;
    border: none;
    outline: none;
}

.datepicker-input button{
    background: none;
    border: none;
    cursor: pointer;
}

.datepicker-icon {
    width: 20px;
}

.calendar {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.calendar-header button {
    background: none;
    border: none;
    cursor: pointer;
}

.calendar-header-control {
    width: 20px;
}

.calendar-body {
    padding: 10px;
}

.day-names {
    display: flex;
}

.day-names span {
    width: calc(100%/7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-weight: 600;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.dates span {
    width: calc(100%/7);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: default;
}

.dates span:hover {
    background-color: #f0f0f0;
}