* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: masonry; */
    gap: 10px;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img1 {
    grid-row: 1 / span 2;
}

.img2 {
    grid-row: 1 / 2;
}

.img3 {
    grid-row: 1 / span 2;
}

.img5 {
    grid-row: 2 / span 2;
}