*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 16px;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

nav a{
    color: #000;
    padding: 6px;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

/* Main */
.hero {
    text-align: center;
    padding: 40px 0 100px;
}

.content {
    display: flex;
    flex-direction: row;
}

.projects {
    flex: 1;
}

.experience {
    flex: 2;
}

.education {
    flex: 2;
}

.content h2 {
    margin-bottom: 16px;
}

.projects li {
    margin-bottom: 10px;
}

.projects ul li, .education ul li {
    list-style: none;
}

.experience article {
    margin-bottom: 20px;
}

.education ul {
    list-style-type: disc;
}

.reviews .reviews-content {
    display: flex;
    flex-direction: row;
}

.reviews blockquote{
    border: 1px solid #333;
    border-radius: 30px;
    padding: 16px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 64px 16px;
}