* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav ul{
    display: flex;
}

li {
    list-style-type: none;
}

li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 16px 24px;
    font-size: 16px;
    background-color: #38444d;
}

li a:hover {
    background-color: red;
}

li a:hover .tooltip {
    display: block;
    animation: scaleIn 0.3s ease-in;
}

.tooltip {
    display: none;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    min-width: 120px;
    width: max-content;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}