* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p {
    text-align: center;
}

p {
    margin: 1rem 0;
    color: #aaa;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.timeline::before {
    content: "";
    position: absolute;
    left: 45%;
    width: 2px;
    top: 0;
    bottom: 0;
    background-color: #333;
}
.timeline-item {
    width: 60%;
    display: flex;
    margin: 20px 0;
}
.timeline-item::before {
    content: "";
    position: absolute;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-40%, 40%);
}
.timeline-item .timeline-date {
    color: #aaa;
    width: 40%;
    text-align: right;
    padding-right: 30px;
}
.timeline-item .timeline-content {
    text-align: left;
    width: 60%;
    padding-left: 30px;
}